@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --st-dark-green: #165930;
    --st-light-green: #48bd75;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 480px;
    max-width: 1000px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border-radius: 16px;
}

.login, .register {
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 0 16px 16px 0;
}

.wrapper h1 {
    margin: 0px 0 32px 0;
    font-weight: 400;
}

.wrapper span {
    font-size: 11pt;
    margin: 10px 0 0 4px;
}

form {
    display: grid;
}

input {
    font-size: 12pt;
    margin: 4px;
    padding: 8px 10px;
}

input[type=text], input[type=password] {
    border: solid 1px #ecf1ee;
    background-color: #ecf1ee;
    border-radius: 4px;
}

input[type=text]:focus, input[type=password]:focus {
    border: solid 1px var(--st-dark-green);
    background-color: #ffffff;
    outline: 0;
}

input[type=button] {
    width: 320px;
    margin-top: 16px;
    background-color: var(--st-light-green);
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type=button]:hover {
    background-color: var(--st-dark-green);
}

.banner {
    background-image: url("./assets/cat.jpg");
    background-size: contain;
    border-radius: 16px 0 0 16px;
}

.hide {
    display: none !important;
}

#blocker {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    justify-content: center;
    align-content: center;
    position: fixed;
}

.popup {
    width: 280px;
    height: 145px;
    background-color: #ffffff;
    border-radius: 12px;
}

#pop_message {
    background-color: #ffffff;
}