@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Poppins:wght@300;400;600&display=swap');
:root {
  --green: #42b785;
  --pink: #b74274;
  --dark-pink: #6e2846;
  --purple: #4b42b7;
  --dark-purple: #302a75;
}
html, body {
  background-color: #f3ecef;
}
html, body, a, ul, li {
  text-decoration: none;
  color: #000000;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  list-style: none;
  padding: 0;
}
.hide {
  display: none !important;
}
.container {
  height: 480px;
  max-width: 1000px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
  border-radius: 16px;
  background-color: #ffffff;
}
.banner {
  margin: 16px;
  border-radius: 8px;
  background-image: url("../static/assets/cat.jpg");
  background-size: contain;
}
.active {
  color: #ffffff !important;
  z-index: 99;
}
.auth {
  width: 360px;
  margin: auto;
  padding-right: 16px;
}
.fm-selector {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dcdcdc;
  border-radius: 8px;
}
.fm-selector a {
  width: 100%;
  text-align: center;
  font-size: 14pt;
  color: #a6a6a6;
}
#fm-selector-accent {
  height: 40px;
  width: 50%;
  transform: translateY(-100%);
  background-color: var(--pink);
  border-radius: 8px;
  transition: transform .6s ease-out;
}
#message {
  padding: 6px;
  font-size: 10pt;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
}
#message i {
  margin-right: 4px;
}
.fm-input {
  margin: 12px 0;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
}
.fm-input i {
  color: #797979;
  margin: 0 4px;
  font-size: 11pt;
}
input {
  width: 100%;
  padding: 4px;
  font-family: 'Fredoka', sans-serif;
  font-size: 12pt;
  border: none;
}
input:focus {
  outline: none;
}
#btnSubmit {
  width: 100%;
  margin-top: 12px;
  padding: 10px;
  background-color: var(--purple);
  font-family: 'Fredoka', sans-serif;
  font-size: 12pt;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color .4s linear;
}
#btnSubmit:hover {
  background-color: var(--dark-purple);
}