@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Poppins:wght@300;400;600&display=swap');

:root {
  --green: #42b785;
  --pink: #b74274;
  --dark-pink: #6e2846;
  --purple: #4b42b7;
  --dark-purple: #302a75;
}
html {
  background-color: #e8e8e8;
}
html, body, a, ul, li {
  text-decoration: none;
  color: #000000;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  list-style: none;
  padding: 0;
}
.hide {
  display: none !important;
}
.container {
  max-width: 1080px;
  margin: auto;
}
.header {
  background-color: var(--purple);
  width: 100%;
}
.hd-main {
  display: flex;
  padding: 12px 0;
  justify-content: space-between;
}
.hd-main img {
  width: 36px;
}
.hd-search {
  max-width: 400px !important;
  height: 32px;
  flex-grow: 4;
  border-radius: 32px;
  background-color: #ffffff;
  padding: 6px;
  font-size: 14pt;
  color: #000000;
  display: flex;
}
.hd-search button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
#hd-submit i {
  font-size: 12pt;
  color: #ffffff;
  background-color: var(--pink);
  padding: 8px;
  border-radius: 20px;
}
#hd-query {
  font-family: 'Fredoka', sans-serif;
  width: 100%;
  border: none;
  font-size: 14pt;
  margin: 0 8px;
}
#hd-query:focus {
  outline: none;
}
.title {
  color: #ffffff;
  text-align: center;
  font-size: 32pt;
  flex-grow: 4;
}
.login-button {
  align-self: center;
}
.login-button a {
  font-size: 12pt;
  padding: 8px 12px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  background-color: var(--green);
}
.login-button i {
  margin-right: 8px;
}
#peek-container {
  margin: 32px auto;
  min-height: 512px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}
#peek-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-purple);
  color: #ffffff;
}
#peek-detail {
  padding: 48px 32px 0 32px;
  flex-grow: 1;
}
#peek-img {
  min-width: 512px;
  height: 512px;
  object-fit: contain;
  background-color: #c2c2c2;
}
#peek-title {
  font-size: 24pt;
  font-weight: 600;
  margin: 0 0 16px 0;
}
#peek-price {
  font-size: 18pt;
  font-weight: 400;
}
#peek-buy {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 14pt;
  padding: 12px;
  background-color: var(--pink);
  color: #ffffff;
}
#peek-buy i {
  margin-right: 8px;
}

.sweep {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--green);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sweep:hover, .sweep:focus, .sweep:active {
  color: white;
}
.sweep:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}